# Backend dependencies
fastapi
uvicorn
pypdf2
spacy
sentence-transformers
pandas
numpy
pdfplumber
spacy[en]
python-multipart  # Required for file uploads in FastAPI

# Frontend dependencies
streamlit
requests

# Deployment dependencies
gunicorn  # Required for deploying FastAPI on Render
