# Backend dependencies
fastapi
uvicorn
pypdf2
spacy
sentence-transformers
pandas
numpy
pydantic
pdfplumber
spacy[en]
python-multipart  # Required for file uploads in FastAPI

# Frontend dependencies
streamlit
requests


