# Backend dependencies
fastapi
uvicorn
pypdf2
spacy==3.8.5
spacy-lookups-data
sentence-transformers
pandas
numpy
torch
pydantic
pdfplumber
python-multipart  # Required for file uploads in FastAPI

# Frontend dependencies
streamlit
requests


